*{
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items : center;
    justify-content: center;
    height : 100vh;
    border : 1px forestgreen solid;
    
}

    /* calculator body */
.device-container {  
    display: flex;
    flex-direction: column;
    border: 2px rgb(34, 86, 107) solid;
    height: 62vh;
    width : 20vw;
    background-color: skyblue;
    border-radius: 12px;
    box-shadow: 5px 8px rgb(88, 127, 139) ;
    
}

.top-panel {
    display:flex;   
    align-items: center;
    padding : 5px;
    background-color: skyblue ;
    border-radius: 12px;
    justify-content: space-between;
}

.brand {
    display: flex;
}

.logo {
    
    color: rgb(74, 45, 80);
    font-weight: bold;
    padding: 2px;
    
}

.power-circle {  /* green circle */
    width: 10px;
    height: 10px;
    margin-right: 8px;
    border-radius: 10px;
    background-color: greenyellow;
    border : 2px rgb(27, 122, 146) solid;
}

.divider {      /* Line between display and buttons */
    width:99%;
    margin-left :2px;
    border: 1px solid darkslategray;
}

/* Wrapper for Display Panel */
.display-container {
    display:flex;
    justify-content: center;
    align-items : center;
    border : rgb(135, 206, 235) 4px solid;
    height:30%;
    background-color: rgb(61, 61, 61);
    border-radius: 8px;
}

/* Display Panel */
.display{ 
    display: flex;
    justify-content: center;
    align-items: center;
    height : 60%;
    width: 90%;
    justify-content: right;
    border : 3px    rgb(233, 232, 232) solid;
    font-size: 2.5vw; /* 47.7px; */  /* vw-view width for responsive fontsize */
    background-color: silver;
    border-radius : 3px;
}

button {
    width : 24.5%;
    font-size: 20px;
    border-radius: 4px;
}   

.num-btn {
    color: white;
    background-color: rgb(19, 138, 112);
    font-size: xx-large;
}

.operator-btn {
    background-color: rgb(58, 58, 58);
    color: snow;
    font-size: xx-large;
}

.modifier {    /* mod buttons, negative and decimal btns */
    background-color: tan;
    font-weight: bold;
}

#decimal {  /* Decimal Button */
    font-size: 40px;
}

.equal-btn {
    background-color: rgb(221, 94, 94);
    color: white ;
    font-size: xx-large;
}

.buttons-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 70%;
    max-width : 100%;
    position: relative;
    padding : 10px;
    border-radius: 12px;
}

.row1 {
    display : flex;
    justify-content: space-between;
    width : 100%;
    padding : 5px  2px  2px  2px;

}

/* misc buttons, clear and backspace */
.misc {
    background-color: gainsboro;
    color : red;
    font-weight: bold;
    border-radius: 20px;
}

/* #clr {
    width: 4.5vw;
    margin-left: 2px;
}

#bkspc {
    width: 4.5vw;
} */
/* misc buttons, clear and backspace */

#dummy {
    background-color : grey;
}

.row2 {
    display: flex; 
    height : 13vh;
    width : 100%;
    justify-content: space-between;
    padding : 2px;
}

.row3 {
    display: flex; 
    height : 13vh;
    width : 100%;  /* sets to size of parent container */
    justify-content: space-between;
    padding : 2px;
}

.row4 {
    display: flex; 
    height : 13vh;
    width: 100%;
    justify-content: space-between;
    padding : 2px;
}

.row5 {
    display: flex; 
    height : 13vh;
    width: 100%;
    padding : 2px;
    justify-content: space-between;
}